<% provide(:title, "About") %>
<div class="leftcol">
  <h2>專業團隊<small>(請點擊圖像)</small></h2>
    <div id="people">
      <%= link_to image_tag("people-1.jpg", alt: "people-1"), people_url, class: "current", id: "楊梅鶯" %>
      <div class="worker">
        <h2>楊梅鶯</h2>
      </div>
      <%= link_to image_tag("people-2.jpg", alt: "people-2"), people_url, id: "張權閔" %>
      <div class="worker">
        <h2>張權閔</h2>
      </div>
      <%= link_to image_tag("people-3.jpg", alt: "people-3"), people_url, id: "張蕎韻" %>
      <div class="worker">
        <h2>張蕎韻</h2>
      </div>
    </div>
</div>
<div class="rightcol">
  <h2>經驗背景</h2>
  <div id="content">
    <div id="description">
      <p>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#people a').on('click', function(e) {
    e.preventDefault();
    var url = this.href;

    $('#people a.current').removeClass('current');
    $(this).addClass('current');

    $('#description').remove();
    $('#content').load(url + ' #content-' + this.id).hide().fadeIn(2000);
  });
</script>