<% provide(:title, "Contact") %>
<section class="page" id="content">
  <div id="container">
  <p><a id="hyperlink" href="http://lvr.land.moi.gov.tw/N11/homePage.action">實價登錄查詢</a></p>
  <p><a id="hyperlink" href="http://service.etax.nat.gov.tw/etwmain/front/ETW118W/VIEW/23">財政部稅務試算</a></p>
  <p><a id="hyperlink" href="http://158.taichung.gov.tw/lohas/">台中市不動產樂活網</a></p>
  <p><a id="hyperlink" href="http://www.tax.taichung.gov.tw/">台中市稅務局</a></p>
  <p><a id="hyperlink" href="http://www.land.taichung.gov.tw/home.php">台中市地政局</a></p>
  <p><a id="hyperlink" href="http://www.ud.taichung.gov.tw/">台中市都市計劃局</a></p>
  </div>
</section>