<section class="page" id="content">
  <div id="container">
    <div class="slider">
      <div class="slide-viewer">
        <div class="slide-group">
          <div class="slide slide-1">
            <%= image_tag("slide-1.jpg", alt: "slide-1") %>
          </div>
          <div class="slide slide-2">
            <%= image_tag("slide-2.jpg", alt: "slide-2") %>
          </div>
          <div class="slide slide-3">
            <%= image_tag("slide-3.jpg", alt: "slide-3") %>
          </div>
          <div class="slide slide-4">
            <%= image_tag("slide-4.jpg", alt: "slide-4") %>
          </div>
        </div>
      </div>
      <div class="slide-buttons"></div>
    </div>
    <div class="tabs"> 
      <ul class="tab-list">
        <h3>
          <li class="active"><%= link_to "Tab1", "#tab-1", class: "tab-control" %></li>
          <li><%= link_to "Tab2", "#tab-2", class: "tab-control" %></li>
          <li><%= link_to "Tab3", "#tab-3", class: "tab-control" %></li>
        </h3>
      </ul>
      <div class="tab-panel active" id="tab-1">
        <p>Content 1</p>
      </div>
      <div class="tab-panel" id="tab-2">
        <p>Content 2</p>
      </div>
      <div class="tab-panel" id="tab-3">
        <p>Content 3</p>
      </div>
      <div id="slideAd">Website by Yung-Shun Chang</div>
    </div>
</section>
