<% provide(:title, "News") %>
<section class="page" id="content">
  <div id="container">
    <aside>
      <h2>More Articles</h2>
      <% @archive.each do |article| %>
      <% if article.page == 0 %>
        <p><%= link_to article.title, "/news?page=1#article-#{article.id}" %></p>
      <% else %>
        <p><%= link_to article.title, "/news?page=#{article.page}#article-#{article.id}" %></p>
      <% end %>
      <% end %>
    </aside>
    <% @articles.each do |article| %>
      <div class="article" id="article-<%= article.id %>">
        <figure><%= image_tag(article.picture) %></figure>
        <h2><%= article.title %></h2>
        <p><%= simple_format(article.content) %></p>
      </div>
    <% end %>
    <%= will_paginate @articles %>
  </div>
</section>
