<% provide(:title, "Services") %>
<section class="page" id="content">
  <div id="container">
    <ul class="accordion">
      <li>
        <button class="accordion-control">
          <h3>不動產產權服務</h3>
        </button>
        <div class="accordion-panel">
          <p>不動產買賣、繼承贈與及抵押權設定等所有權移轉登記<br>
             土地鑑界、合併、分割及交換<br>
             共有土地財產處分<br>
             建物登記測量<br>
             土地及房屋貸款<br>
          </p>
        </div>
      </li>
      <li>
        <button class="accordion-control">
          <h3>財產及稅務規劃</h3>
        </button>
        <div class="accordion-panel">
          <p>遺產、贈與稅規劃<br>
             分割繼承與拋棄繼承相關事務<br>
          </p>
        </div>
      </li>
      <li>
        <button class="accordion-control">
          <h3>土地開發及處分</h3>
        </button>
        <div class="accordion-panel">
          <p>產權調查及地籍謄本申請<br>
             土地鑑界、分割合併<br>
             道路用地及公用設施保留地買賣<br>
             非都市土地變更及土地使用合法化</p>
        </div>
      </li>
    </ul>
  </div>
</section>