<% provide(:title, "Visit") %>
<section class="page" id="content">
  <h2>Address</h2>
    <div id="address">
      <p>楊梅鶯地政士事務所<br>
         台灣台中市西區三民路一段127巷10號<br></p> 
    </div>
    <div id="map-container">
        <div id="map-canvas">
        </div>
    </div>
  </h2>
</section>
