<% provide(:title, "Log in") %>
<section class="page" id="content">
      <div id="container">
          <h2>Log in</h2>
            <%= form_for(:session, url: login_path) do |f| %>
              <p>
                  <%= f.label :email, "Email:" %>
                  <%= f.email_field :email %>
              </p>
              <p>
                  <%= f.label :password, "Password:" %>
                  <%= link_to "(forgot password)", new_password_reset_path %>
                  <%= f.password_field :password %>
              </p>
              <p>
                  <%= f.label :remeber_me, class: "checkbox" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>
              </p>
              <p>
                  <%= f.submit "Log in", id: "submit" %>
              </p>
            <% end %>
      </div>
</section>