<% provide(:title, 'Reset password') %>
<section class="page" id="content">
  <div id="container">
    <h2>Reset password</h2>
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= hidden_field_tag :email, @user.email %>
        <p>
          <%= f.label :password, "Password:" %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation, "Confirmation:" %>
          <%= f.password_field :password_confirmation %>
        </p>
        <p>
          <%= f.submit "Update password", id: "submit" %>
        </p>
      <% end %>
  </div>
</section>