<% provide(:title, "Forgot password") %>
<section class="page" id="content">
  <div id="container">
    <h2>Forgot password</h2>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <p>
          <%= f.label :email, "Email:" %>
          <%= f.email_field :email %>
        </p>
        <p>
          <%= f.submit "Submit", id: "submit" %>
        </p>
      <% end %>
  </div>
</section>