Hi <%= @user.name %>,

Welcome to Chuan-Min & Mei-Ing Land Scrivener Service! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>