<% provide(:title, "People") %>
<section class="page" id="content">
  <div id="container">
    <% @people.each do |people| %>
    <div id="content-<%= people.name %>">
      <div id="description">
        <p>
          <tr>
            <td><%= people.name %><br></td>
            <td><%= simple_format(people.resume) %><br></td>
          </tr>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</section>