<div class="article">
<li id="article-<%= article.id %>">
  <%= link_to gravatar_for(article.user, size: 80), article.user %>
  <span class="user"><h2><%= link_to article.user.name, article.user %></h2></span>
  <span class="title"><h3>Title:</h3><p><%= article.title %></p></span>
  <span class="content"><h3>Content:</h3><p>
    <%= image_tag article.picture.url if article.picture? %>
    <%= simple_format(article.content) %>
    </p>
  </span>
  <span class="timestamp"><h3>Timestamp:</h3><p>
    Posted <%= time_ago_in_words(article.created_at) %> ago.</p>
  </span>
  <% if current_user?(article.user) %>
  <h3>
    <%= link_to "delete", article, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  </h3>
  <% end %>
</li></div>