<section class="page" id="content">
  <h2>New Article</h2>
  <%= form_for(@article, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="inputTitle">
        <p>
        <%= f.label :title, "Title:" %>
        </p>
        <p>
        <%= f.text_field :title %>
        </p>
      </div>
      <div class="inputContent">
        <p>
        <%= f.label :content, "Content:" %>
        </p>
        <p>
        <%= f.text_area :content, placeholder: "Compose new article" %>
        </p>
      </div>
      <div class="picture">
        <p>
        <%= f.label :picture, "Picture:" %>
        </p>
        <p>
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
        </p>
      </div>
      <div class="actions">
        <p>
        <%= f.submit "Post", id: "submit" %>
        </p>
      </div>
  <% end %>
</section>

<script type="text/javascript">
  $('#article_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

