<% provide(:title, "Edit user") %>
<section class="page" id="content">
  <div id="container">
    <h2>Update your profile</h2>
             <%= form_for(@user) do |f| %>
               <%= render 'shared/error_messages', object: f.object %>
                 <p>
                 <%= f.label :name, "Name:" %>
                 </p>
                 <p>
                 <%= f.text_field :name %>
                 </p>
                 <p>
                 <%= f.label :email, "Email:" %>
                 </p>
                 <p>
                 <%= f.email_field :email %>
                 </p>
                 <p>
                 <%= f.label :password, "Password:" %>
                 </p>
                 <p>
                 <%= f.password_field :password %>
                 </p>
                 <p>
                 <%= f.label :password_confirmation, "Confirmation:" %>
                 </p>
                 <p>
                 <%= f.password_field :password_confirmation %>
                 </p>
                 <p>
                 <%= f.submit "Save changes", id: "submit" %>
                 </p>
             <% end %>
             <div class="gravatar_edit">
                 <%= gravatar_for @user %>
                 <a href="http://gravatar.com/emails" target=_blank><h1>Change</h1></a>
             </div>
  </div>
</section>
