<% provide(:title, 'All users') %>
<section class="page" id="content">
  <div id="container">
      <h2>All users</h2>
      <ul class="users">
          <% @users.each do |user| %>
            <li>
              <h1>
              <%= gravatar_for user, size: 80 %>
              <%= link_to user.name, user %>
              <% if current_user.admin? && !current_user?(user) %>
                | <%= link_to "delete", user, method: :delete, 
                                              data: { confirm: "You sure?" } %>
              <% end %>
              </h1>
            </li>
          <% end %>
      </ul>
  </div>
</section>