<% provide(:title, 'Sign up') %>
<section class="page" id="content">
      <div id="container">
          <h2>Sign up</h2>
             <%= form_for(@user) do |f| %>
               <%= render 'shared/error_messages', object: f.object %>
                 <p>
                 <%= f.label :name, "Name:" %>
                 </p>
                 <p>
                 <%= f.text_field :name %>
                 </p>
                 <p>
                 <%= f.label :email, "Email:" %>
                 </p>
                 <p>
                 <%= f.email_field :email %>
                 </p>
                 <p>
                 <%= f.label :password, "Password:" %>
                 </p>
                 <p>
                 <%= f.password_field :password %>
                 </p>
                 <p>
                 <%= f.label :password_confirmation, "Confirmation:" %>
                 </p>
                 <p>
                 <%= f.password_field :password_confirmation %>
                 </p>
                 <p>
                 <%= f.submit "Create my account", id: "submit" %>
                 </p>
             <% end %>
      </div>
</section>