<%= provide(:title, @user.name) %>
<section class="page" id="content">
  <div id="container">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
      <ul>
      <% if logged_in? %>
        <li><%= link_to "Users", users_path, id: "usersMenu" %></li>
        <li><%= link_to "Settings", edit_user_path(current_user), id: "usersMenu" %></li>
        <li><%= link_to "Log out", logout_path, method: "delete", id: "usersMenu" %></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
      </ul>
    </h1>
  </div>
</section>
<% if logged_in? %>
  <%= render 'articles/form' %>
  <%= render 'shared/feed' %>
<% end %>
