<section class="page" id="content">
  <h2>Article Archive</h2>
  <% if @feed_items.any? %>
    <ol class="articles">
      <%= render @feed_items %>
    </ol>
    <%= will_paginate @feed_items %>
  <% end %>
</section>