/* layout */

header, footer, nav {
    display: block;
}

html {
    min-width: 1366px;
    min-height: 768px;
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

section {
    clear: both;
    position: relative;
    background-color: rgba(0%, 36.5%, 46.7%, 0.6);
    width: 90%;
    -moz-box-shadow: 5px 5px 5px #212115;
    -webkit-box-shadow: 5px 5px 5px #212115;
    box-shadow: 5px 5px 5px #212115;
    border-radius: 10px;
    -moz-box-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;
    overflow: auto;
}

.leftcol {
    color: #666666;
    clear: both;
    background-color: rgba(0%, 36.5%, 46.7%, 0.6);
    width: 42%;
    -moz-box-shadow: 5px 5px 5px #212115;
    -webkit-box-shadow: 5px 5px 5px #212115;
    box-shadow: 5px 5px 5px #212115;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 0 40px;
    padding: 10px 30px 10px 30px;
    float: left;
    height: 870px;
}

.rightcol {
    color: #666666;
    background-color: rgba(0%, 36.5%, 46.7%, 0.6);
    -moz-box-shadow: 5px 5px 5px #212115;
    -webkit-box-shadow: 5px 5px 5px #212115;
    box-shadow: 5px 5px 5px #212115;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 30px 0 15px;
    padding: 10px 30px 10px 30px;
    width: 42%;
    height: 870px;
    float: left;
}

a img {
    margin: 10px auto 10px 50px;
    padding: 10px;
    border: 5px dotted #00250c;
}

.worker {
    float: right;
    margin: 100px 100px 0 50px;
}

#description p {
    line-height: 100%;
}

.rightcol #content {
    padding: 0 30px;
}

.article {
    position: relative;
    overflow: auto;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 30px;
    width: 800px;
}

figure {
    float: left;
    width: 341px;
    height: 192px;
    padding: 5px;
    margin: 20px;
    border: 5px solid #eeeeee;
}

figure img{
    width: 100%;
    height: 100%;
}

aside {
    position: relative;
    width: 150px;
    float: right;
    padding: 0px 0px 0px 20px;
    margin: 0 100px 0 50px;
}

aside h2 {
    padding: 30px 0px 10px 0px;
}

aside a {
    padding: 0px 0px 10px 0px;
    font: italic normal 1.4em georgia, san-serif;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

aside a:hover {
    font-weight: bold;
    color: #DAA520;
}

#address, #phone, #tax, #contact {
    margin: 0 auto 0 50px;
}

a#usersMenu {
    color: #DAA520;
    text-decoration: none;
}

a#usersMenu:hover {
    font-weight: bold;
    color: #702345;
}

a#hyperlink {
    color: #ffffff;
    font: normal 1.4em DFKai-sb;
    text-decoration: none;
}

a#hyperlink:visited {
    color: #696969;
    font: normal 1.4em DFKai-sb;
}

/* Navigation */

nav, footer {
    background-color: #084500;
    opacity: 0.6;
    -moz-box-shadow: 5px 5px 5px #131f07;
    -webkit-box-shadow: 5px 5px 5px #131f07;
    box-shadow: 5px 5px 5px #131f07;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 5px 30px 5px 30px;
    position: relative;
    clear: both;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav ul li:hover, nav ul li.active {
    background-color: #702345;
    -moz-box-shadow: 0 0 10px #6a0e33;
    -webkit-box-shadow: 0 0 10px #6a0e33;
    box-shadow: 0 0 10px #6a0e33;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

nav li a:hover, nav li a.current {
    font-weight: bold;
    color: #000000;
}

/* Button */

input {
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    margin-bottom: 10px;
}

#submit {
    color: #444444;
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
    background: -moz-linear-gradient(top, #beeae9, #a8cfce);
    background: -o-linear-gradient(top, #beeae9, #a8cfce);
    background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}

#submit:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background: -moz-linear-gradient(top, #a8cfce, #beeae9);
    background: -o-linear-gradient(top, #a8cfce, #beeae9);
    background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}

/* Typography */

#logo {
    color: #DAA520;
    font: bold 1.0em DFKai-sb;
    text-decoration: none;
}

nav {
    font: normal 1.6em DFKai-sb;
    color: #666666;
}

h1 {
    color: rgb(0%, 36.5%, 46.7%);
    font: bold 3.2em DFKai-sb;
}

h2 {
    color: #DAA520;
    font: bold 1.6em DFKai-sb;
}

h3 {
    color: #DAA520;
    font: bold 2.0em DFKai-sb;
}

p {
    color: #ffffff;
    font: normal 1.4em DFKai-sb;
}

/* Accordion */

.accordion, .menu {
    background-color: #6a0e33;
    opacity: 0.7;
    color: #666;
    margin: 20px;
    padding: 0;
    overflow: auto;
    border: 5px ridge #6a0e33;
}

.accordion li {
    padding: 0;
    list-style-type: none;
}

.accordion-control {
    cursor: pointer;
    background-color: #084500;
    color: #fff;
    display: block;
    width: 100%;
    padding: 0 0.5em 0 0.7em;
    margin: 0;
    border-top: 1px solid #666;
}

.accordion-panel {
    display: none;
}

.accordion-panel p {
    margin: 20px;
}

/* map */

#map-container {
    width: 800px;
    height: 400px;
    margin: 50px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#map-container #map-canvas img {
  max-width: none;
}

#map-container #map-canvas label {
  width: auto; display:inline;
}

/* slideAd */

#slideAd {
    width: 160px;
    height: 80px;
    background-color: #673f02;
    opacity: 0.8;
    color: #fff;
    border-top: 5px solid #5e250a;
    border-left: 5px solid #5e250a;
    border-bottom: 5px solid #5e250a;
    padding: 25px 25px 25px 25px;
    position: fixed;
    bottom: 50px;
    right: -235px;
    font: italic normal 1.4em georgia, san-serif;
    z-index: 2;
}

/* slider */

.slider {
    max-width: 1366px;
    margin: 10px auto 20px auto;
}

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 429px;
    border: 5px dotted #00250c;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}

.slide-buttons {
    text-align: center;
}

.slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 1.0em;
}

.slide-btn.active, .slide-btn:hover {
    color: #6d2809;
    cursor: pointer;
}

/* tabs */

.tab-list {
    background-color: #084500;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #00250c;
}

.tab-list li {
    display: inline-block;
    font: normal 1.2em georgia, san-serif;
    padding: 5px 30px 5px 30px;
}

.tab-list li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

.tab-list li.active, .tab-list li:hover {
    background-color: #702345;
    color: #666;
}

.tab-panel {
    display: none;
    background-color: #702345;
    opacity: 0.6;
    color: #fff;
    min-height: 200px;
    overflow: auto;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: #00250c;
    padding: 20px;
}

.tab-panel.active {
    display: block;
}

.tab-panel p {
    font: italic normal 1.0em georgia, san-serif;
}

/* mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* forms */

#error_explanation {
    color: red;
    font: italic normal 1.4em georgia, san-serif;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    color: red;
    font: italic normal 1.4em georgia, san-serif;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

.inputContent textarea {
    height: 510px;
    width: 510px;
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    margin-bottom: 10px;
}

/* Users index */

.users {
    list-style: none;
}

/* Pagination */

div.pagination {
    color: #ffffff;
    font: italic normal 2.4em georgia, san-serif;
}

ul.pagination li{
    display: inline;
}

ul.pagination li a{
    text-decoration: none;
}

ul.pagination li a:visited, ul.pagination li.active{
    color: #DAA520;
}

ul.pagination li a:hover{
    color: #702345;
}
