<header>
  <div class="container">
    <h1><%= link_to "六象工商不動產顧問公司", root_path, id: "logo" %></h1>
    <nav>
      <ul>
        <li class="<%=is_active('home')%>"><%= link_to "首頁", root_path %></li>
        <li class="<%=is_active('about')%>"><%= link_to "專業團隊", about_path %></li>
        <li class="<%=is_active('services')%>"><%= link_to "服務", services_path %></li>
        <li class="<%=is_active('news')%>"><%= link_to "新聞", news_path %></li>
        <li class="<%=is_active('visit')%>"><%= link_to "拜訪", visit_path, 'data-no-turbolink' => true %></li>
        <li class="<%=is_active('contact')%>"><%= link_to "參考資料", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>        